// Place all the styles related to the general controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




 body {
         font-family: 'Oswald', sans-serif;
         font-size: mr-auto
       }

.h1{

}

.navbar{
  background-color: #e3f2fd;
 opacity: 1;
 margin-bottom: 0 auto;
 list-style:none;
 z-index: 999;
 opacity: .9;
 color: white;
 font-weight: 300;
 }


 .field{
   padding: 0.5rem;
   text-align: justify-content-center;
 }


.carousel{
  margin-top: -100px;
}

 li {float: left;
   list-style-type:none;
   }

.carousel-inner{
  height: 40rem;
}

.card{
     width: 15rem;
     margin:2.5rem;
  font-size: .8rem;
         }
.card-show{
      width: 60rem;
      margin:2rem;
     font-size: 0.9rem;
                  }
.post {
  padding: 1  .5rem;
  padding-top: 3rem;
  padding-left: 2rem;
  display: inline;
  object-fit: cover;
                  }

.card-img-top {
        padding:.8rem;
        width: 15rem;
        height: 18rem;
        object-fit: cover;
                }
.card-text {
   font-size: .8rem;
           }
.btn{
    margin: .15rem;
    }
.footer{
      padding: 2rem;
    }
#section2{
  background-color: #e3f2fd;

}
